@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />

@model Star_Wars_API_Lab_28.Models.ViewModels.PeopleViewModel

<div class="person">
    <ul>
    
        <li>Name: @Model.name</li>
        <li>Height: @Model.height</li>
        <li>Mass: @Model.mass</li>
        <li>Gender: @Model.gender</li>
        <li>Birth Year: @Model.birth_year</li>
        <li> Hair Color: @Model.hair_color</li>
       


    </ul>   
    

</div>


