@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />

@model Star_Wars_API_Lab_28.Models.ViewModels.PlanetViewModel

<div class="planet">
    <ul>
    <li>Name: @Model.name</li>
    <li>Diameter: @Model.diameter</li>
    <li>Climate: @Model.climate</li>
    <li>Terrain: @Model.terrain</li>
    <li>Gravity: @Model.gravity</li>
   
   
    </ul>

</div>



 